# Виртуальное окружение
venv/

# Кешированные файлы Python
__pycache__/
*.pyc

# Лог-файлы
*.log

# Конфиденциальные конфигурационные файлы
config.py

main.py

# Файлы данных и временные файлы
*.xlsx
*.tmp

# Настройки среды разработки
.idea/
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db
